<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Welcome, <%= @event.contactName %></h1>
<p>
  The Event you've reserved has been updated!</br>
  <b>Event:</b> <%= @event.name %>.<br/>
  <b>Status:</b> <%= @event.status %></br>
</p>
<p>
  Notes left by roomER:</br>
  <%= event.notes %>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>