<div class="page-header">
	<div class="container">
		<h1>Welcome to roomER!</h1>
		<h4>Here you can submit event requests and find events by day and location!</h4>
		<%= link_to "Let's Get Started", "#", class: "btn" %>
	</div>
</div>