<div class="field">
	<b>Host Organization:</b> Registered Student Organization, FGCU Dept, Course Related...<br/>
	<%= f.text_field :organization %><br /><br />
   <b>Event Name:</b> used to advertise the program<br/>
	<%= f.text_field :name %><br /><br />

	<b>Estimated Attendance:</b> (best guess)<br/>
		<%= f.text_field :numAttends %><br /><br />
</div>