        <div class="field">
			<b>Contact Name:</b> (First & Last)<br/>
			<%= f.text_field :contactName %><br/<br/>
		  </div>
		  
		  <div class="field">
		  <b>Contact Email:</b> <br/>
			<%= f.email_field :contactEmail %><br/<br/>
		  
		  </div>
		  
		  <div class="field">
		  <b>Contact Phone:</b> <br/>
		  <%= f.telephone_field :contactPhone %><br/><br/>
		  </div>
		  
		  
		  
		  