<div class="container">
	<h1 align="center">How To</h1>
	<br />
	<div class="hero-unit">
		<h3 align="center">Request an Event</h3>
		<p>There are two ways to request an event.</p>
		<ul>
			<li>Contact an event planner directly using the contac information on the contact page</li>
			<li>Follow the instructions below</li>
			<ol>
				<li>Click on the “New Event” tab located at the top of the screen or Click the button on the bottom of this instruction</li>
				<li>Provide the name of your Organization, name of the event and expected number of attendees</li>
				<li>Select the start and end times of your event</li>
				<li>Select the available rooms that match your criteria and add any notes that you feel are important to your event</li>
				<li>Fill in your Name, email, and phone number and check the box at the bottom of the page to complete the form.</li>
			</ol>
		</ul>
			<div align="center">
				<%= link_to "New Event", new_event_path, class: "btn btn-primary btn-large" %>
			</div>
	</div>
	<div class="hero-unit">
		<h3 align="center">Edit a Request</h3>
		<p>The user will have to contact an admin directly to make changes to an event request. The admin will have the ability to edit the event request submitted by the non-authorized user. If the user made a minor scheduling error, notify the scheduler. If the event has major changes regarding organizations involved and the expected number of attendees has changed dramatically, submit a new request and contact your scheduler so the correct changes can be made accordingly.</p>
	</div>

</div>

